<!-- Page menu principal -->
<link rel="stylesheet" href="../css/index.css">
<div data-role="page" id="mainmenu">
    <div data-role="header" id="headMainMenu" data-position="fixed">
        <h1>YUMMY ADMIN</h1>
        <a id="logOut" class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-left ui-btn-icon-left ui-icon-power"></a>
    </div>
    <div data-role="content" class="ui-content">
        <section role="main" class="ui-content">

            <a id="scan" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" href="scan.html">scan QR code</a>
            <a id="menuBtn" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" href="menucantine.html">Menu de la semaine</a>
            <a id="stat" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" href="statistiques.html">Statistiques</a>

        </section>
    </div>
    <div data-role="content" class="ui-content content2">
        <div class="nd2-card">
            <h3>Effectifs journaliers</h3>
            <div class="card-supporting-text">
                <p>Ici le nombre de personnes ayant confirmé leur présence</p>
            </div>

        </div>
        <div class="nd2-card">

            <div class="card-supporting-text">
                <a id="scan" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide">button</a>
                <a id="menuBtn" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide">button</a>
                <a id="stat" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide">button</a>
            </div>

        </div>

    </div>
</div>
