<!-- Page menu principal -->
<div data-role="page" id="mainmenu">
    <div data-role="header" id="headMainMenu" data-position="fixed" data-tap-toggle="false">
        <h1>APPCHEF - MENU PRINCIPAL</h1>
        <a id="logOut" class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-left ui-btn-icon-left ui-icon-power"></a>
        <a id="refreshBtn" class="ui-btn ui-corner-all ui-btn-inline ui-mini header-button-left ui-btn-icon-right zmdi zmdi-refresh"></a>
    </div>
    <div data-role="content" class="ui-content">

        <div class="ui-grid-a">

            <div class="ui-block-a" id="presenceDiv">
              <!--<div class="card-title">-->
                <h4 class="">Liste de présence</h4>
              <!--</div>-->
                <div class="" id="presenceText">
                </div>
            </div>

            <div class="ui-block-b" id="settingHour">
                <h4 class="">Horaires de confirmation</h4>
                <form method="POST" action="#" id="hourForm">
                    <label for="hourStart">Heure de début :</label>
                    <input type="time" name="hourStart" value="" id="hourStart" placeholder="hh:mm" required>

                    <label for="hourEnd">Heure de fin :</label>
                    <input type="time" name="hourEnd" value="" id="hourEnd" placeholder="hh:mm" required>
                    <button class="ui-btn ui-btn-inline clr-primary" type="submit">Enregistrer</button>
                </form>
            </div>
    </div>

        <section style="width:50%">
            <a class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" href="scan.html">Scanner</a>
            <a class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" href="menucantine.html">Menu de la semaine</a>
            <a class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" href="releves.html">Relevés</a>
        </section>
    </div>

</div>
