<div data-role="page" id="menucantine">
    <div data-role="header" id="headCantine">
        <h1>YUM'S MENU</h1>
        <a href="#" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back"></a>
    </div>
    <div data-role="content" class="ui-content">

            <div class="nd2-card" style="min-width:900px;">

                <h3>Éditer le menu</h3>
                <form method="POST" id="editMenu">
                    <input type="date" name="" value="">
                    <input type="text" name="entree" id="" placeholder="Entrée">
                    <input type="text" name="plat" id="" placeholder="Plat du jour">
                    <input type="text" name="dessert" id="" placeholder="Dessert">
                    <button type="submit" id="" class="ui-btn  ui-btn-raised clr-primary" >Enregistrer</button>
                </form>

            </div>

            <!--affichage des menus-->
            <div></div>

    </div>
</div>
