<div data-role="page" id="menucantine">
  <div data-role="header" id="headCantine">
    <h1>YUM'S MENU</h1>
    <a href="#" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back"></a>
  </div>

  <div data-role="collapsibleset" data-content-theme="a" data-iconpos="right" id="set">

      <div data-role="collapsible" id="set1" data-collapsed="true">

          <h3>Lundi</h3>
          <p>Ici le plat du jour</p>
          <form method="POST" id="editMenu">
            <input type="date" name="" value="">
            <input type="text" name="entree" id="" placeholder="Entrée">
            <input type="text" name="plat" id="" placeholder="plat du jour">
            <input type="text" name="dessert" id="" placeholder="Dessert">
            <button type="submit" id="" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" >Edit</button>
          </form>

      </div>
  </div>

  <div data-role="collapsibleset" data-content-theme="a" data-iconpos="right" id="set">

      <div data-role="collapsible" id="set1" data-collapsed="true">

          <h3>Mardi</h3>
          <p>Ici le plat du jour</p>
          <form method="POST" id="editMenu">
            <input type="date" name="" value="">
            <input type="text" name="entree" id="" placeholder="Entrée">
            <input type="text" name="plat" id="" placeholder="plat du jour">
            <input type="text" name="dessert" id="" placeholder="Dessert">
            <button type="submit" id="" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" >Edit</button>
          </form>
      </div>
  </div>

  <div data-role="collapsibleset" data-content-theme="a" data-iconpos="right" id="set">

      <div data-role="collapsible" id="set1" data-collapsed="true">

          <h3>Mercredi</h3>
          <p>Ici le plat du jour</p>
          <form method="POST" id="editMenu">
            <input type="date" name="date">
            <input type="text" name="entree" id="" placeholder="Entrée">
            <input type="text" name="plat" id="" placeholder="plat du jour">
            <input type="text" name="dessert" id="" placeholder="Dessert">
            <button type="submit" id="" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" >Edit</button>
          </form>
      </div>
  </div>

  <div data-role="collapsibleset" data-content-theme="a" data-iconpos="right" id="set">

      <div data-role="collapsible" id="set1" data-collapsed="true">

          <h3>Jeudi</h3>
          <p>Ici le plat du jour</p>
          <form method="POST" id="editMenu">
            <input type="date" name="" value="">
            <input type="text" name="entree" id="" placeholder="Entrée">
            <input type="text" name="plat" id="" placeholder="plat du jour">
            <input type="text" name="dessert" id="" placeholder="Dessert">
            <button type="submit" id="" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" >Edit</button>
          </form>
      </div>
  </div>
</div>
