<div data-role="page" id="menucantine">
    <div data-role="header" id="headCantine" data-position="fixed" data-tap-toggle="false">
        <h1>Édition des menus</h1>
        <a href="#" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back"></a>
    </div>
    <div data-role="content" class="ui-content">

            <div>

                <h3>Éditer le menu</h3>
                <form method="POST" id="editMenu">
                    <input type="date" name="dateMenu" required>
                    <input type="text" name="entree"  placeholder="Entrée" required>
                    <input type="text" name="plat" placeholder="Plat du jour" required>
                    <input type="text" name="dessert" placeholder="Dessert" required>
                    <button type="submit" class="ui-btn ui-btn-inline clr-primary">Enregistrer</button>
                </form>

            </div>

            <!--affichage des menus-->
            <div id="displayMenu" style="overflow:scroll">

            </div>

    </div>
</div>
