<div data-role="page" id="releves">
    <div data-role="header" id="headStat">
        <h1>Relevés</h1>
        <a href="#" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back"></a>
    </div>

    <div data-role="content" class="ui-content" id="relevesContent">
         <div id="releveConso">
            <h3>Nombre de tickets consommés aujourd'hui</h3>
              <p id="presenceP">Tickets jaunes : <span id="totalJaune"></span> - Tickets verts : <span id="totalVert"></span> - Tickets roses : <span id="totalRose"></span></p>
         </div>

         <div id="releveVente">
           <h3> Totaux des tickets vendus par couleur</h3>
            <form method="POST" action="#" id="formReleveVente">
                <input type="date" name="dateMin" required>
                <input type="date" name="dateMax" required>
                <button type="submit" id="downloadVente" class="ui-btn  ui-btn-raised clr-primary">Télécharger le pdf</button>
            </form>

         </div>
    </div>
</div>
