<div data-role="page" id="statistiques">
    <div data-role="header" id="headStat">
        <h1>Relevés</h1>
        <a href="#" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back"></a>
    </div>

    <div data-role="content" class="ui-content">
         <div class="nd2-card">
            <h3>Nombre de tickets consommés</h3>
             <p>ici le nombres de personnes ayant réellement mangé (scan)</p>
              <button type="" id="" class="ui-btn  ui-btn-raised clr-primary">imprimer en pdf</button>
         </div>

         <div class="nd2-card">
           <h3> Solde des tickets vendu / couleurs</h3>
           <p>ici le nombre de tickets/couleur vendu + le solde total</p>
           <button type="" id="" class="ui-btn  ui-btn-raised clr-primary">imprimer en pdf</button>
         </div>
    </div>
</div>
