<div data-role="page" id="scan" style="background-color:transparent">
    <!--<div data-role="header" id="headScan" style="background-color: transparent">-->
        <!--<h1>YUM'SCAN</h1>-->
        <a href="#" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back"></a>
    <!--</div>-->

    <div data-role="content" class="ui-content" style="background-color:transparent">

        <div class="ui-grid-a">
            <section id="scanArea" class="ui-block-a">

            </section>

            <section id="scanInfo" class="ui-block-b" style="background-color: white; display: none">
                <h2>Infos</h2>

                <p>Date : <span id="infosDate"></span></p>
                <p>Code : <span id="infosCode"></span></p>
                <p>N° de client : <span id="infosNum"></span></p>
                <p>Nom : <span id="infosNom"></span></p>
                <p>Prénom : <span id="infosPrenom"></span></p>
                <p>Formation : <span id="infosFormation"></span></p>
                <p>Statut : <span id="infosStatut"></span></p>
                <h3>Couleur du ticket : <span id="infosCouleur"></span></h3>

            </section>

            <section id="scanUnknown" class="ui-block-b" style="background-color: white; display: none">
                <h3>Code inconnu</h3>
            </section>
        </div>

    </div>
</div>
