<div data-role="page" id="statistiques">
    <div data-role="header" id="headStat">
        <h1>YUM'STAT</h1>
        <a href="#" class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back"></a>
    </div>

    <div data-role="collapsibleset" data-content-theme="a" data-iconpos="right" id="set">

        <div data-role="collapsible" id="set1" data-collapsed="true">

            <h3>Effectifs journaliers</h3>
            <p>Ici le nombre de personnes ayant confirmé leur présence</p>
            <button type="" id="" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" >imprimer en pdf</button>
        </div>
    </div>

    <div data-role="collapsibleset" data-content-theme="a" data-iconpos="right" id="set">

        <div data-role="collapsible" id="set1" data-collapsed="true">

            <h3>Effectifs réel</h3>
            <p>ici le nombres de personnes ayant réellement mangé (scan)</p>
            <button type="" id="" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" >imprimer en pdf</button>
        </div>
    </div>

    <div data-role="collapsibleset" data-content-theme="a" data-iconpos="right" id="set">

        <div data-role="collapsible" id="set1" data-collapsed="true">

            <h3> Solde des tickets vendu / couleurs</h3>
            <p>ici le nombre de tickets/couleur vendu + le solde total</p>
            <button type="" id="" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" >imprimer en pdf</button>
        </div>
    </div>
    <button type="" id="" class="ui-btn  ui-btn-raised clr-primary" data-transition="slide" > tout imprimer en pdf</button>
</div>

</div>
